---
import Intro from "../components/Intro.astro";
import About from "../components/About.astro";
import Header from "../components/Header.astro";
import BookCallout from "../components/BookCallout.astro";
import Blockquote from "../components/Blockquote.astro";
import Layout from "../layouts/Layout.astro";
import Container from "../layouts/Container.astro";
import BlogCallout from "../components/BlogCallout.astro";
import ConnectCallout from "../components/ConnectCallout.astro";
import WorkshopCallout from "../components/WorkshopCallout.astro";
import DecorImage from "../components/DecorImage.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";
import Reviews from "../components/Reviews.astro";
---

<Layout>
  <Header />

  <main>
    <Intro />

    <Blockquote class="shadow">
      My mission is simple: <br />help schools, teams, and individuals trade
      “hustle culture” for results, depth, relationships, and real learning that
      lasts.
    </Blockquote>

    <About />

    <Blockquote class="shadow">
      Your pace is your power and no one does it alone.
    </Blockquote>

    <BookCallout />

    <Reviews />

    <WorkshopCallout />

    <ConnectCallout />

    <BlogCallout />
  </main>

  <Footer />
</Layout>
