---
import MenuLinks from "./MenuLinks.astro";
---

<nav class="menu" id="main-menu">
  <div class="menu__trigger">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path
        class="menu__trigger__icon open"
        d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
      ></path>
      <path
        class="menu__trigger__icon close"
        d="M55.1 73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L147.2 256 9.9 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192.5 301.3 329.9 438.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.8 256 375.1 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192.5 210.7 55.1 73.4z"
      ></path>
    </svg>
  </div>

  <div class="menu__links__wrapper">
    <MenuLinks />
  </div>
</nav>

<script>
  const main_menu = document.getElementById("main-menu");
  const menu_links = document.querySelectorAll(".menu__links a");
  const trigger = document.querySelectorAll(".menu__trigger");

  trigger.forEach((trigger) => {
    trigger.addEventListener("click", () => {
      main_menu?.classList.toggle("open");
    });
  });

  menu_links.forEach((menu_link) => {
    menu_link.addEventListener("click", () => {
      main_menu?.classList.remove("open");
    });
  });
</script>

<style>
  nav {
    transition: all 0.3s;
    transition-behavior: allow-discrete;
  }

  nav.open {
    transition: all 0.3s;
    transition-behavior: allow-discrete;
  }

  @media (min-width: 120ch) {
    nav.open {
      position: relative;
      background-color: transparent;
    }
  }

  nav:not(.open) .menu__trigger__icon.open,
  nav:is(.open) .menu__trigger__icon.close {
    display: flex;
  }

  nav:not(.open) .menu__trigger__icon.close,
  nav:is(.open) .menu__trigger__icon.open {
    display: none;
  }

  .menu__trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(251, 247, 236, 0.7);
  }

  .menu__links__wrapper {
    display: none;
  }

  nav.open .menu__links__wrapper {
    display: flex;
    position: fixed;
    inset: 4.5rem 0 0 0;
    background-color: rgba(32, 48, 61, 1);
    transition: all 0.3s;
    transition-behavior: allow-discrete;
  }

  .menu__trigger svg {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    color: rgba(251, 247, 236, 0.7);
    fill: currentColor;
    color: currentColor;
    background-color: transparent;
    padding: 0.5rem;
    border: 2px solid;
    border-radius: 999ch;
  }

  @media (min-width: 120ch) {
    nav.open .menu__trigger,
    .menu__trigger {
      display: none;
    }

    .menu__links__wrapper,
    nav.open .menu__links__wrapper {
      display: flex;
      position: relative;
      inset: unset;
      background-color: transparent;
    }
  }
</style>
